.item-container {
    display: flex; 
    flex-direction: column;
    margin: 20px 30px 20px 30px;
}

.company-overview {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.company-image {
    height: 250px;
    border-radius: 20px;
    position: relative;
    float: right;
}

.overview {
    margin-left: 50px;
    font-size: larger;
    text-align: left;
}

.rating-text {
    text-align: left;
    margin-left: 10px;
}

.analysis {
    height: 400px;
    margin-top: 40px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}

.header {
    color: black;
    left: 0;
    padding-left: 1rem;
    position: sticky;
    width: 100%;
    font-size: larger;
    text-align: left;
}

.backButtonContainer {
    text-align: left;
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
}

.backButtonContainer :hover {
    cursor: pointer;
}

.backButtonIcon {
    height: 10px;
    margin-right: 12px;
    color: #156BC1;
}

.textGoBack {
    margin-top: 2px;
    color: #156BC1;
}
