.searchInputs {
    margin-bottom: 30px;
    display:inline-flex;
    
}
  
.search input {
    background-color: white;
    border : 0.5px;
    border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    border-color: black;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}
  
.searchIcon {
    height: 62px;
    width: 60px;
    display: grid;
    place-items: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(216, 214, 214);
}
  
input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}
  
  
#clearBtn {
    cursor: pointer;
}