.companies {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.company {
    flex: 0 0 calc(25% - 1em);
    min-height: 120px;
    margin: 0.25em 0.5em;
}

.company img {
    width: 250px;
}

.company.description {
    text-align: center;
}

.company:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.homepage {
    margin:25px
}

.companyImage {
    border-radius: 25px;
}